/* 
fontFamily: 'db_helvethaica_x45_li',
fontFamily: 'db_helvethaica_x55_regular',
fontFamily: 'db_helvethaica_x65_med',
fontFamily: 'db_helvethaica_x66_medit',
fontFamily: 'db_helvethaica_x75_bd', 
*/

@font-face {
  font-family: 'db_helvethaica_x45_li';
  src: url('../fonts/db_helvethaica_x/db_helvethaica_x_li_v3.2-webfont.woff2') format('woff2'),
       url('../fonts/db_helvethaica_x/db_helvethaica_x_li_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'db_helvethaica_x55_regular';
  src: url('../fonts/db_helvethaica_x/db_helvethaica_x_v3.2-webfont.woff2') format('woff2'),
       url('../fonts/db_helvethaica_x/db_helvethaica_x_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'db_helvethaica_x65_med';
  src: url('../fonts/db_helvethaica_x/db_helvethaica_x_med_v3.2-webfont.woff2') format('woff2'),
      url('../fonts/db_helvethaica_x/db_helvethaica_x_med_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  
}
@font-face {
  font-family: 'db_helvethaica_x66_medit';
  src: url('../fonts/db_helvethaica_x/db_helvethaica_x_med_it_v3.2-webfont.woff2') format('woff2'),
       url('../fonts/db_helvethaica_x/db_helvethaica_x_med_it_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_helvethaica_x75_bd';
  src: url('../fonts/db_helvethaica_x/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'),
       url('../fonts/db_helvethaica_x/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}